.menu{
    background-color: darkcyan;
    height: 50px;
    text-align:justify;
}
.link{
    color:white;
    margin: 2%;
    text-decoration: none;
    font-size: 200%;
}
.link:hover{
    color: hotpink;
}
.titulo{
    font-size: 60px;
    text-align: center;
    color: aliceblue;
}
.titulo:hover{
    color: lightcoral;
}
.enunciado{
    color: aliceblue;
    margin-left: 2%;
    margin-top: 2%;
}
.integrantes{
    color: aliceblue;
    margin-left: 2%;
    margin-right: 2%;
}
.hr{
    color:aliceblue;
}
.repo-github{
    width: 20%;
    height: 20%;
    margin-top: auto;
    margin-left: 40%;
}