.body{
    background-color: #3D1308;
}
.menu{
    background-color: #7B0D1E;
    height: 50px;
    text-align:justify;
}
.link{
    color:white;
    margin: 2%;
    text-decoration: none;
    font-size: 200%;
}
.link:hover{
    color: #9F2042;
}
.titulo{
    font-size: 60px;
    text-align: center;
    color: #F8E5EE;
}
.titulo:hover{
    color: #9F2042;
}
.enunciado{
    color: #F8E5EE;
    margin-left: 2%;
    margin-top: 2%;
}
.integrantes{
    color: #F8E5EE;
    margin-left: 2%;
    margin-right: 2%;
}
.hr{
    color:aliceblue;
}
.repo-github{
    width: 20%;
    height: 20%;
    margin-top: auto;
    margin-left: 40%;
}