.body{
    background-color:#3D1308;
}
.menu{
    background-color: #7B0D1E;
    height: 50px;
    text-align:justify;
}
.link{
    color:white;
    margin: 2%;
    text-decoration: none;
    font-size: 200%;
}
.link:hover{
    color: #9F2042;
}
.h1{
    color: white;
    text-align: center;
}
.h1:hover{
    color: #9F2042;
}
.ingrese-grafo{
    color: #F8E5EE;
    text-align: center;
}
.expresion-regular{
    font-size: 160%;
    margin: 1%;
    margin-left: 45%;
    background-color:#3D1308;
    color: cornsilk;
    border: solid;
    border-width: 2px;
    border-radius: 6px;
    width: 160px;
    height: 80px;
}
.expresion-regular:hover{
    background-color: #7B0D1E;
}
#afd{
    background-color:#9F2042;
    border-radius: 10px;
    margin-left: 7%;
    margin-right: 7%;
    height: 500px;
    display: flex;
    justify-content: center;
}
#state-popUp{
    color: floralwhite;
    display:none;
    position:absolute;
    top:60%;
    left:25%;
    z-index:2;
    width:500px;
    height:130px;
    background-color:indianred;
    border-style:solid;
    border-radius: 6px;
    border-width:1px;
    padding:10px;
    text-align: center;
}
#transition-popUp{
    color: floralwhite;
    display:none;
    position:absolute;
    top:90%;
    left:25%;
    z-index:2;
    width:280px;
    height:120px;
    background-color:darkslateblue;
    border-style:solid;
    border-radius: 6px;
    border-width:1px;
    padding:10px;
    text-align: center;
}
#saveButton-state,
#cancelButton-state{
    border-radius: 6px;
    border: solid;
    border-width: 1px;
}
#saveButton-state:hover,
#cancelButton-state:hover{
    background-color: darkgoldenrod;
}
#state-id,
#state-final{
    border-radius: 6px;
    border: solid;
    border-width: 1px;
}
.repo-github{
    width: 20%;
    height: 20%;
    margin-top: auto;
    margin-left: 40%;
}
.alfabeto{
    display: inline-block;
    text-align: left;
    color: aliceblue;
    margin: 2%;
    margin-right: 20%;
    margin-left: 10%;
}
.guardar-alfabeto{
    border: solid;
    border-width: 1px;
    border-radius: 6px;
}
#alfabeto-automata{
    border: solid;
    border-width: 1px;
    border-radius: 6px;
}
.instrucciones{
    margin: 2%;
    color: whitesmoke;
}
.lista-instrucciones{
    color: whitesmoke;
}